

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}
  body,
  html {
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  }
#head{
      height: 50px;
    border-bottom: 1px solid rgb(195, 193, 193);
    display: flex;
    justify-content: space-around;

}
#head>div{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#big{
    display: flex;
    /* margin-top: -170px; */
    /* border: 1px solid green; */
}
  #req{
    margin-left: 50px;
    /* margin-top: 80px; */
    width: 60%;
    /* border: 1px solid red; */

  }
  #req2{
    /* width: 25%; */
    /* border: 1px solid red; */
    /* margin-top: 50px; */
    width: 20%;
    /* border: 10px solid yellow; */
    /* margin-top: -50px; */
    padding: 1%;
    height: auto;
    height: 300px;
  }
  #sum{
    display: flex;
  }
  #delivery{
    display: flex;
    justify-content: space-between;
  }
  #totalprice{
    display: flex;
    justify-content: space-between;
  }
  .idi{
    text-align: end;
  }
.input
{
     display: flex;
}
.input >div{
    margin-right: 20px;
}
 input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
    margin-bottom: 20px;
    display: block;
 } 
#country{
    width: 630px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
}

#address{
    width: 630px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
}
.input>div>select{
    width: 300px;
    height:40px ;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
}


#checkbox{
    width: 20px;
    height: 20px;
    margin: 0;
}
.billing{
    display: flex;
    text-align: center;
    margin: 0;
}
.billing>p{
    margin-top: 1px;
    margin-left: 20px;
}


#savebtn{
    width: 270px;
    height: 45px;
    margin: 0;
    /* margin-left: 30px; */

    vertical-align: middle;
    background-color: rgb(28, 28, 28);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;

}

/* svg{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
} */

 .div{
    display: flex;
    align-items: center;
}
.div>h3{
     margin-left: 10px;
     margin-right: 10px;
     font-weight: 100;
     font-family: sans-serif;
}

#logo{
    height: 30px;
    margin: 0 250px;
} 

#avtar{
    width: 35px;
    height: 40px;
    margin-right: 90px;
    /* border: 1px solid red; */
}

#small{
    display: flex;
     /*margin: 30px; */
   margin-top: 30px;
}

 /* #product{
   width: 60%;
   
  
} */

#head{
    font-size: 15px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: -35px;
    border: none;
}

#delivery{
    display: flex;
} 
#totalprice{
    display: flex;
}
#delivery1{
    margin-left: 80px;
}
#price{
    margin-left: 90px;
}



/* @media all and (max-width: 768px) { */
    
    
/* .address{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
} */
/* input{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
    margin-bottom: 20px;
    display: block;
 } */
 #select{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
}
.opt{
    background-color: rgb(214, 214, 214);
    width: 400px;
    height: 40px;
}
/* .input>div>select{
    width: 200px;
    height:40px ;
    border-radius: 5px;
    border: 1px solid rgb(139, 136, 136);
} */

#head{
    height: 50px;
  border-bottom: 1px solid rgb(195, 193, 193);
  display: flex;
  justify-content: space-around;

}
#head>div{
 display: flex;
 align-items: center;
 justify-content: space-around;
}
  /* } */

/* **************************************************** */
.progress_bar{
    margin: 10px auto;
    /* border: 1px solid blue; */
}
.progress_bar img{
    width: 30px;
    /* margin-bottom: -80px; */
}
ul{
    text-align: center;
}
ul li{
    display: inline-block;
    width: 300px;
    position: relative;
}
.dot{
    font-size: 100px;
    margin: -19px;
    margin-top: -70px;
}
ul li .dot::after{
    content: '';
    background: #ccc;
    width: 310px;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: -1;
}
ul li:nth-child(1) .dot::after{
    background-color: black;
}
ul li:first-child .dot::after{
    width: 205px;
    left: 150px;
}
ul li:last-child .dot::after{
    width: 150px;
}
.p_name
{
    font-size: 17px;
}
ul li:nth-child(1) .p_name{
    font-weight: bolder;
}

/* ************************************* */
#bodyy{
    display: flex;
}
#box-1{
    width: 75%;
    /* border: 1px solid red; */
    /* margin-top: -50px; */
    padding-top: 0px;
    height: auto;
}
#box-2{
    width: 25%;
    border: 10px solid yellow;
    /* margin-top: -50px; */
    padding: 4%;
    height: auto;
}

/* ************footer************* */
#navbar{
    /* border: 1px solid pink; */
    height: 50px;
}
#footer{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 99%;
    height: 70px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
}
#f1{
    display: flex;
}
#f1>a{
    font-size: 20px;
    padding-top: 18px;
    padding-left: 10px;
}
#f2{
    display: flex;
    padding-left: 50px;
}
#call{
    margin-top: 15px;
}
#opt{
    padding: 2%;
}

.imagee{
    width: 50px;
    height: 70px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#product{
    display: fixed;
    width: 300px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 5px;
    gap: 20px;
    overflow: scroll;
}
.detail{
    text-align: end;
}
.detail2{
    display: flex;
    border: 1px solid;
    /* text-align: end; */
    justify-content: space-between;
    margin-bottom: 10px;
}
#product::-webkit-scrollbar{
    display: none;
    }
.price1{
    text-align: end;
    font-weight: bolder;
    margin-left: 110px;
}
#delivery1{
    margin-right: 5px;
}

