.progress_bar{
    margin: 100px auto;
}
.progress_bar img{
    width: 30px;
    margin-bottom: -50px;
}
ul{
    text-align: center;
}
ul li{
    display: inline-block;
    width: 300px;
    position: relative;
}
.dot{
    font-size: 100px;
    margin: 0px;
}
ul li .dot::after{
    content: '';
    background: #ccc;
    width: 310px;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    top: 103px;
    z-index: -1;
}
ul li:nth-child(1) .dot::after{
    background-color: black;
}
ul li:nth-child(2) .dot::after{
    background-color: black;
}
ul li:nth-child(3) .dot::after{
    background-color: black;
}
ul li:first-child .dot::after{
    width: 205px;
    left: 150px;
}
ul li:last-child .dot::after{
    width: 150px;
}
.p_name
{
    font-size: 17px;
}
ul li:nth-child(1) .p_name{
    font-weight: bolder;
}
ul li:nth-child(2) .p_name{
    font-weight: bolder;
}
ul li:nth-child(3) .p_name{
    font-weight: bolder;
}