* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
}
#head_1 > h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#head_1 {
  margin-bottom: 15px;
}
#head_1 > h3 > a {
  text-decoration: none;
  color: grey;
}
#heading {
  text-align: center;
}
#fillsort {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#fillsort > div:nth-child(2) {
  width: 10%;
  text-align: center;
}
#fillsort > div,
#brands > h3 {
  display: flex;
}
#brandProBox {
  /* border: 1px solid; */
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.filter_category {
  height: 45px;
  width: 50%;
  border: 0;
  font-size: 18px;
}
.filter_category > option {
  font-size: 22px;
}
#proBox {
  width: 84%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px 26px;
  margin-left: 30%;
}
#proBox > div > img {
  width: 100%;
  height: 400px;
}
#proBox > div {
  /* border: 1px solid; */
  line-height: 8px;
}
#fillbrandbody {
  /* border: 1px solid yellow; */
  width: 96%;
  margin: auto;
}
#fillFeature {
  width: 20%;
  margin: 20px;
}
#ser {
  /* border: 1px solid rgb(15, 85, 30); */
  border-radius: 20px;
  padding-left: 10px;
}
/* #proBox>div>img:nth-child(2){
display: none;
position: relative;
cursor: pointer;
}
#proBox>div>img:nth-child(1){
  display: block;
  position: absolute;
} */
input {
  accent-color: green;
}

.hov1 {
  display: none;
  line-height: 7px;
  color: teal;
  cursor: pointer;
}
#com1:hover > .hov1 {
  display: block;
  opacity: 1;
}
.hov1 > p:hover {
  border-bottom: 3px solid red;
  color: black;
  font-weight: bold;
}
#proBox > div > h3 {
  font-size: 16px;

  font-weight: 700px;

  line-height: 22px;

  color: rgb(34, 34, 34);
}
#price {
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 40px;
}
button {
  border: 1px solid red;
}
#fillFeature {
  position: fixed;
  margin: 0;
}
.circle_color{
  display: flex;
align-items: center;
width: 35%;
margin-bottom: 20px;
justify-content: space-around;
}
#col{
  background-color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}
#col2{
  background-color: white;
  border: 1px solid grey;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}
#col3{
  background-color: rgb(224, 138, 152);
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}
#col4{
  background-color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.tx{
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  width: 70%;
  height: 400px;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-left:30% ;
}
figure{
  width: 100%;
  float: left;
  margin: 0;
}

.hover-animation>div{
  position: relative;
  height:450px ;
  width: 100%;
  margin: 10% auto;
  margin-top: -10px;
}
.hover-animation>div>img{
  position: absolute;
  height: 70%;
  width: 30%;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.hover-animation img.img-front:hover{
  opacity: 0;
  cursor: pointer;
}
.hover-animation{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  width: 100%;
  gap: 20px ;
}
#lilbox{
  margin-top: 115%;
  /* border: 1px solid red; */
}
