* {
  margin: 0;
  padding: 0;
}
body{
  margin: auto;
}
#head_1>h3{
  text-align: center;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
 
}
#head_1{
  margin-bottom: 15px;
}
#head_1 > h3 > a {
 text-decoration: none;
 color: grey;

}
#heading {
text-align: center;
}
#fillsort{
display: flex;
justify-content: space-between;  

font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#fillsort>div:nth-child(2){
width: 7%;
}
#fillsort>div,
#brands>h3{
  display: flex;
}
#brandProBox{
  /* border: 1px solid; */
display: flex;
margin-top: 10px;
justify-content: space-between;
}
.filter_category{
  height: 45px;
  width: 50%;
  border: 0;
  font-size: 18px;
}
.filter_category>option{
  font-size: 22px;
}
#proBox{
  width: 84%;
  display: grid;
  /* border: 1px solid red; */
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: auto;
 gap: 30px 26px ;
}
#proBox>div>img{

  width: 100%;
  height: 350px;
}
#proBox>div{
  /* border: 1px solid; */
  line-height: 8px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#fillbrandbody{
  /* border: 1px solid yellow; */
   width: 96%; 
  margin: auto;
}
#fillFeature{
  width: 20%;
  margin: 20px;
}
#ser{
  /* border: 1px solid rgb(15, 85, 30); */
  border-radius: 20px;
  padding-left: 10px;
}
/* #proBox>div>img:nth-child(2){
display: none;
position: relative;
cursor: pointer;
}
#proBox>div>img:nth-child(1){
  display: block;
  position: absolute;
} */
input{
  accent-color: green;
}