* {
  margin: 0;
  padding: 0;
  /* width: 98%; */
  /* margin: auto; */
}
body{
  margin: auto;
}
#head_1>h3{
  text-align: center;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
 
}
#head_1{
  margin-bottom: 15px;
}
#head_1 > h3 > a {
 text-decoration: none;
 color: grey;

}
#heading {
text-align: center;
}
#fillsort{
display: flex;
justify-content: space-between;  

font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#fillsort>div:nth-child(2){
width: 7%;
}
#fillsort>div,
#brands>h3{
  display: flex;
}
#brandProBox{
  border: 1px solid;
display: flex;
margin-top: 10px;
justify-content: space-between;
}
#brands{
  
  width: 15%;
  border: 2px solid blue;
}
/* this  */


.filter_category{
  height: 45px;
  width: 50%;
  border: 0;
  font-size: 18px;
}
.filter_category>option{
  font-size: 22px;
}
#proBox{
  width: 84%;
  display: grid;
  border: 1px solid red;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: auto;
 gap: 15px;
}
#proBox>div>img{
  width: 100%;
}
#fillbrandbody{
  border: 1px solid yellow;
   width: 96%; 
  margin: auto;
}
#brands>select{
  display: block;

}